.inputSearch {
    height: 50px;
    border: solid 1px #ccc;
    border-radius: 4px;
    width: calc(100% - 20px);
    margin: 10px auto;
    padding: 0 10px;
    outline: none;
}
.formGroup {
    font-size: small;
    font-family: Calibri, sans-serif;
}
.numFound {
    margin-top: 0;
    color: #888;
    font-size: small;
}
.listItem {
    margin: 5px 0;
    color: #444;
    font-size: medium;
    text-wrap: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.listContainer {
    height: calc(100vh - 365px);
    overflow: hidden;
    overflow-y: scroll;
    border: solid 1px #ccc;
    border-radius: 4px;
    width: calc(100% - 20px);
    padding: 10px;
    list-style-type: none;
}
